  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

        <!-- Navbar brand -->
        <mdb-navbar-brand>
          <a class="navbar-brand" href="#">ToDo List</a>
        </mdb-navbar-brand>

        <!-- Collapsible content -->
        <links>

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link waves-light" (click)="framShow()">New Task
                <span class="sr-only">(current)</span>
              </a>
            </li>
           
          </ul>
          <!-- Links -->

        </links>
        <!-- Collapsible content -->

      </mdb-navbar>